@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&family=VT323&display=swap');

:root {
  --dark-cell: #779954;
  --bright-cell: #e9edcc;
  --sea-color: #201729;
  --ground-pattern: url("./tree-pattern.png");
  --rock-pattern: url("./rock-pattern.png");
  --sea-pattern: url("./water-pattern.png");
  --button-pattern: url("./button.png");
  --board-size: 80vh;
  --pixel-font: 'VT323', monospace;
  --poppin-font: 'Poppins', sans-serif;
}

* {
  image-rendering: pixelated;
}

body {
  font-family: var(--pixel-font);
  background: var(--sea-pattern);
}

button {
  font-family: var(--pixel-font);
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  background: var(--button-pattern);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5px 0 20px 0;
}

#board-container {
  display: flex;
  aspect-ratio: 1/1;
  flex-direction: column;
  width: var(--board-size);
  margin: auto;
  position: relative;
  background-image: var(--ground-pattern);
  background-position: center;
  background-size: 8%;
  background-clip: content-box;
  border: 20px solid transparent;
  border-image: url("./border.png") 20% round;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

#board-container .row {
  display: flex;
}

.cell.highlight::after {
  content: "";
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background: rgb(255 193 7 / 50%)!important;
  border-radius: 10px;
}

.cell.black {
  background-image: var(--rock-pattern);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.cell {
  aspect-ratio: 1/1;
  flex: 1;
  position: relative;
}

.cell > .guide-dot {
  width: 35%;
  aspect-ratio: 1/1;
  background: rgb(0 0 0 / 20%);
  display: none;
  border-radius: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.piece {
  z-index: 69;
}

.piece, #hover-border {
  aspect-ratio: 1/1;
  height: calc(100% / 8);
  position: absolute;
  cursor: -webkit-grab;
}

#hover-border {
  pointer-events: none;
  border: 4px solid #FFC107;
  box-sizing: border-box;
  z-index: 9;
  border-radius: 8px;
}

.knight::after {
  content: attr(data-count);
  background: black;
  display: block;
  position: absolute;
  color: white;
  right: 0;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 100%;
  font-weight: bold;
}

.black.knight::after {
  background: red;
}

#countdown {
  width: 100px;
  height: 50px;
  border: 1px solid;
  overflow: hidden;
}

#countdown #progress {
  height: 100%;
  transition: 100ms;
  background: green;
}

#control {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  top: 0;
  height: 100%;
}

