@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root {
  --dark-cell: #779954;
  --bright-cell: #e9edcc;
  --sea-color: #201729;
  --ground-pattern: url("./tree-pattern.png");
  --rock-pattern: url("./rock-pattern.png");
  --sea-pattern: url("./water-pattern.png");
  --button-pattern: url("./button.png");
  --board-size: 80vh;
  --pixel-font: 'VT323', monospace;
  --button-font: 'Press Start 2P', cursive;
}

* {
  image-rendering: pixelated;
}

body {
  font-family: var(--pixel-font);
  background: var(--sea-pattern);
}

.btn:hover {
  background-color: #cbcbcb;
  box-shadow: inset 
    calc(var(--shadow-width) - 1px) 
    calc(var(--shadow-width) - 1px)
    rgb(0 0 0 / 20%);
}

.btn:focus, .btn:active {
  box-shadow: inset 
    calc(0px - var(--shadow-width)) 
    calc(0px - var(--shadow-width)) 
    rgb(0 0 0 / 20%);
}

.btn {
  --border-width: 4px;
  --shadow-width: -4px;
  cursor: pointer;
  font-family: var(--button-font);
  padding: 12px 12px;
  position: relative;
  background: #d4d4d4;
  display: inline-block;
  border-top: var(--border-width) solid;
  border-bottom: var(--border-width) solid;
  border-color: black;
  box-shadow: inset var(--shadow-width) var(--shadow-width) rgb(0 0 0 / 20%);
  text-shadow: 0px 3px rgb(0 0 0 / 10%);
}

.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  display: flex;
  height: 100%;
  border-left: var(--border-width) solid;
  border-right: var(--border-width) solid;
  border-color: black;
  box-sizing: content-box;
  left: -4px;
  top: 0px;
}

#start-game {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  background-color: hsl(124.43deg 62.24% 60%);
}

#start-game:hover {
  background-color: hsl(124.43deg 62.24% 57%);
}

#show-sp:hover {
  background-color: hsl(183.77deg 60% 57%);
}

#show-sp {
  background-color: hsl(183.77deg 60% 60%);
}

#undo:hover {
    background-color: hsl(60deg 80% 45%);
}
#undo {
    background-color: hsl(60deg 80% 50%);
}

#board-container {
  display: flex;
  aspect-ratio: 1/1;
  flex-direction: column;
  width: var(--board-size);
  margin: auto;
  position: relative;
  background-image: var(--ground-pattern);
  background-position: center;
  background-size: 8%;
  background-clip: content-box;
  border: 20px solid transparent;
  border-image: url("./border.png") 20% round;
  box-shadow: 10px 10px rgb(0 0 0 / 20%);
  border-radius: 5px;
}

#board-container .row {
  display: flex;
}

.cell.highlight::after {
  content: "";
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1/1;
  background: rgb(255 193 7 / 50%)!important;
  border-radius: 10px;
}

.cell.black {
  background-image: var(--rock-pattern);
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.cell {
  aspect-ratio: 1/1;
  flex: 1;
  position: relative;
}

.cell > .guide-dot {
  width: 35%;
  aspect-ratio: 1/1;
  background: rgb(0 0 0 / 20%);
  display: none;
  border-radius: 100%;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.piece {
  z-index: 69;
}

.piece, #hover-border {
  aspect-ratio: 1/1;
  height: calc(100% / 8);
  position: absolute;
  cursor: -webkit-grab;
}

#hover-border {
  pointer-events: none;
  border: 4px solid #FFC107;
  box-sizing: border-box;
  z-index: 9;
  border-radius: 8px;
}

.knight::after {
  content: attr(data-count);
  background: black;
  display: block;
  position: absolute;
  color: white;
  right: 0;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 100%;
  font-weight: bold;
}

.black.knight::after {
  background: red;
}

#countdown {
  width: 100px;
  height: 50px;
  border: 1px solid;
  overflow: hidden;
}

#countdown #progress {
  height: 100%;
  transition: 100ms;
  background: green;
}

#control {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: var(--board-size);
  margin: 10px auto;
  align-items: center;
}

.disabled {
  filter: brightness(0.5);
  pointer-events: none;
}

